.Rproj.user
.Rhistory
.Ruserdata
.RDataTmp

.DS_store
*.history

scores_traceplots/traceplots/**/**/*.pdf
scores_traceplots/extracted_scores/*.RDS

data/processed/climate_data/
data/processed/housing_density/
data/raw/*.zip
data/raw/*.gdb
data/raw/*/

models/sizes/**/csv_fits/*.csv
models/counts/**/csv_fits/*.csv

figures/mcmc_draws/

shell_scripts/console_output/*.txt

figures/for_submission/
figures/*.RDS

figures/local_only/

for_submission/
