.Rproj.user
.Rhistory
.Ruserdata
.RDataTmp

.DS_store

full-model/figures/paper/burn_preds_median_df.RDS
full-model/figures/paper/burn_preds_df.RDS
full-model/fire-sims/model_comparison/extracted_values/*GQ.csv
full-model/fire-sims/model_comparison/jointmods_loglik.RDS
full-model/fire-sims/model_comparison/jointmods_twcrps.RDS
full-model/figures/paper/mcmc_draws/
full-model/fire-sims/model_comparison/extracted_values/gen_quant/*.RData
full-model/fire-sims/model_comparison/extracted_values/nu_data/*.RData
full-model/fire-sims/model_comparison/burns_comparison_all.RData
full-model/fire-sims/model_comparison/extracted_values/burns_comparison_all.RData
full-model/fire-sims/model_comparison/extracted_values/*.RData
full-model/fire-sims/model_comparison/extracted_values/*.RDS
full-model/output/*.csv
sim-study/models/**/data/
sim-study/models/**/stan-fits/

Rplots.pdf
**/trace/*.pdf
**/trace/**/*.pdf

/maps/

slurm*

full-model/data/processed/**/*.tif

full-model/fire-sims/burns/**/stan-fits/*.RDS
full-model/fire-sims/burns/**/csv-fits/*.csv
full-model/fire-sims/burns/**/csv-fits/**/*.csv
full-model/fire-sims/counts/**/stan-fits/*.RDS
full-model/fire-sims/**/**/csv-fits/*.csv

sim-study/models/g1/stan-fits/

full-model/figures/model-comp/betas_counts_12may2023.RDS

full-model/figures/model-comp/ll_full_counts_12may2023.RDS

full-model/figures/g1/sigma_reg_draws.RData

full-model/figures/model-comp/g1_comps_sigma_reg.RData

full-model/figures/model-comp/g1_comps_loglik.RData

full-model/figures/model-comp/g1_comps_twcrps.RData

full-model/figures/g1/bestmod_xivals.RDS

full-model/figures/g1/bestmod_xivals_rerun.RDS

*.history

full-model/figures/model-comp/counts_betas_scores.RData

full-model/data/raw/conus_wui_blk20.gdb/

full-model/data/raw/conus_wui_blk20.zip

full-model/data/raw/mtbs_fod_pts_data.zip

full-model/data/raw/mtbs_fod_pts_data/

full-model/data/raw/us_eco_l3.zip

full-model/data/raw/us_eco_l3/

full-model/figures/model-comp/ll_scores_counts_31jul2023.RDS

full-model/fire-sims/model_comparison/gq_newdata_burns.RData

full-model/fire-sims/model_comparison/gq_newdata_counts.RData

full-model/fire-sims/model_comparison/scores_burns_31jul2023.RData

full-model/fire-sims/model_comparison/g1_betas.RData

full-model/fire-sims/model_comparison/ll_scores_counts_31jul2023.RDS

full-model/fire-sims/model_comparison/zinb_er_betas.RData

full-model/figures/model-comp/model_scores_31jul2023/

full-model/figures/burns/g1/burn_beta_df_list.rds
